/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: ;#FFFFFF,
}
/* header style  */
@keyframes first-arrow {
    0%{
        background-color: greenyellow;
    }
    25%{
        background-color: grey;
    }
    50%{
        background-color: gold;
    }
    75%{
        background-color: indigo;
    }
    100%{
        background-color: deeppink;
    }
}
header{
    background-color:teal;
    height: 633px;
   
}
.menubar{
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    margin-right: 124px;
    margin-left: 156px;
    width: 1160px;
}
nav span a:hover{
    background-color: dimgray;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}
.link:hover{
    background-color: rgb(91, 139, 241);
    font-size: 20px;
}
span a{
    text-decoration: none;
    padding: 10px;
    color: black;
}
.fas{
    color: white;
    background-color: #E02C6D;
    padding: 10px;
    animation: first-arrow  2s ease-in-out 0.1s infinite alternate-reverse;
    animation-play-state: running;
}
.description{
    display: flex;
    justify-content: space-between;
}
.bannerimg img{
    width: 556px;
    height: 438px;
    margin: 90px 141px 86px 350px;
}
.info{
    width: 485px;
    height: 230px;
   
}
.headings{
    display: flex;
    flex-direction: column;
}
.heading{
    font-size: 64px;
    margin-left: 156px;
    margin-top: 70px;
}
.link{
    width: 168px;
    height: 44px;
    padding-left: 25px;
    padding-top: 5px;
    margin: 220px 10px 169px 156px;
    background-color: #E02C6D;
}
.link a{
    text-decoration: none;
    color: white;
}
/* ------------------------------main info ------------------------- */
.container{
    display: flex;
    justify-content: center;
    margin-top:16px ;
    margin-bottom: 50px;
}
.star-player{
    width: 1050px;
    height: 474px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 45px;
    margin-bottom: 1550px;
}
.top-player{
    width: 330px;
    height: 474px;
}
.playerimg img{
    width: 300px;
    height: 256px;
    margin: 15px 15px 16px 15px;
}
.player-name{
    margin-left: 15px;
    margin-right: 15px;
}
.player{
    box-shadow: 1px 1px 10px;
}
/* footer ---------- */
@keyframes arrow {
    0%{
        background-color: greenyellow;
    }
    25%{
        background-color: grey;
    }
    50%{
        background-color: gold;
    }
    75%{
        background-color: indigo;
    }
    100%{
        background-color: deeppink;
    }
}
.footer{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.lastinfo{
    width: 350px;
    height: 250px;
    margin-top: 100px;
    margin-right: 80px;
    margin-bottom: 0px;
}
.footerimg img{
    width: 567px;
    height: 427px;
  
}
.lastinfo a{
    background-color:#E02C6D;
    ;
    text-decoration: none;
    color: white;
    padding: 10px;
    padding-right: 5px;
}
.lastinfo .fas{
    margin-left: 20px;
    animation: arrow 2s ease-in 0.5s infinite alternate;
    animation-play-state: running;
}
/* footer  */
.last-container{
    width: 486px;
    height: 213px;
    display: contents;
    margin-bottom: 20px;
    margin-top: 25px;
    justify-content: center; 
    align-items: center;
}
.author{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.copyrightimg img{
    width: 483px;
    height: 110px;

}
.iconp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#fab{
    color: lightslategray;
}
/* animation transition and hover  */
.lastinfo a:hover{
background-color: lime;
font-size: 20px;
}
/* Media queries */
@media only screen and (max-width:411px) {
    .star-player{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
.footer{
margin-top: 4200px;
display: flex;
flex-direction: column;
}
.footerimg img {
    width: 375px;
    height: 311px;
    margin-top: 60px;
}
.copyrightimg img {
    width: 290px;
    height: 111px;
}
.menubar{
    margin-left: 0px;
    flex-direction: column;
}
.headings{
    margin-left: 0px;
}
}